<h1>ツイート　　　　ツイートと返信　　　　メディア</h1>
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>


<p>

 <h2><%= image_tag 'i.png', :size =>'50x50' %>　Ryusei </h2>
 <p id="inde">
 <%= tweet.message %>
 <% t = Time.current %>
 <% a = tweet.created_at %>
 <% tdate=(t-a)/60 %>
 <%= tdate.to_i %>分前


 
 <%= link_to '表示する', tweet_path(tweet.id) %>
 <%= link_to '削除する', tweet_path(tweet.id), method: :delete %>
 <%= link_to '編集する', edit_tweet_path(tweet.id) %>
 </p>
</p>
<% end %>
 

